@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  /* Utility classes for hiding scrollbars */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Custom scrollbars */
  .custom-scrollbar {
    scrollbar-color: #5c6bc0 transparent;
    scrollbar-width: thin; /* For Firefox */
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Adjust width as needed */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #5c6bc0; /* Scrollbar color */
    border-radius: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #3e4e94; /* Hover color */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; /* Track color */
  }

  /* Smooth drop-in animation */
  @keyframes drop-in {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
